{% extends 'base.html' %}

{% block content %}
    <section class="container mh bg-elevated build-details">
        <h1>{{ build.name }}</h1>
        <div class="build-content-details-p-container">
            <p>{{ build.description }}</p>
        </div>
        {% if build.images %}
            <div class="build-images">
                {% for image in build.images %}
                    <img src="{{ url_for('static', filename='uploads/builds/' ~ image) }}" alt="Image du build {{ build.name }}" class="build-image">
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}